header {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

#slogo {
    width: 75%;
}

#scabecalho {
    padding-right: 10px;
    width: 20%;
}

header figure {
    margin: 0;
    padding: 0;
    width: 315px;
}

form, nav {
   float: right;    
}