* {
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    display: flex;
    flex-flow: wrap;
}

#fbusca {
    min-width: 200px;
}

#fbusca input {
    height: 24px;
    margin-top: 50px;
    vertical-align: middle;
}

#ibusca {
    width: 80%;
}

#slogo {
    width: 50%;
}

#scabecalho {
    padding-right: 10px;
    width: 20%;
}

nav li {
    display: inline;
    width: 100%;
}

header+figure {
    width: 100%;
}

