* {
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#fbusca {
    min-width: 200px;
}

#fbusca input {
    height: 24px;
    margin-top: 50px;
    vertical-align: middle;
}

#ibusca {
    width: 80%;
}

#slogo {
    width: 250px;
}

#slogo figure img {
    width: 100%;
}

#scabecalho {
    display: flexbox;
    padding-right: 10px;
    border: 1px solid green;
    width: 70%;
    text-align: right;
}

nav#menu {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px; 
    border: 1px solid blue;
}

nav#menu ul {
    margin-right: 50px;
    height: 50px;
    border: 1px solid lightblue;
}

nav li {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px; 
    background-color: gray;
    color: bisque;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
}


